Screen {
    layout: vertical;
}

Chat {
    layout: vertical;
    height: 1fr;
}

#chat-history {
    background: $surface;
    border: round $primary;
    height: 1fr;
    padding: 1 2;
}

#chat-input {
    min-height: 3;
}

MessageContainer {
    width: 100%;
    height: auto;
}

.row {
    width: 100%;
    padding: 1;
    height: auto;
}


.bubble {
    max-width: 75%;
    width: auto;
    height: auto;
    padding: 1;
    background: $primary;
    content-align: left middle;
}

Markdown {
    background: $accent;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    max-width: 1fr;
    text-wrap: wrap;
}

.message {
    width: auto;
    height: auto;
}

.user-row {
    align-horizontal: right;
    align-vertical: middle;
}


.assistant-row,
.tool-row,
.other-row {
    align-horizontal: left;
    align-vertical: middle;
}





Container:focus {
    outline: vkey $accent;
}

Collapsible:focus {
    outline: none;
}

Collapsible Static.collapsible-label:focus {
    outline: none;
    text-style: none;
}

Collapsible Button:focus {
    outline: none;
}