Chat {
    layout: vertical;
    height: 1fr;
}

#chat-history {
    align: center middle;
    layout: vertical;
}

MessageContainer {
    width: 100%;
    padding: 1;
    margin: 2;
    height: auto;
}

.tool-container {
    color: $foreground;
    align: right bottom;
    background: $surface-lighten-1;
}

.tool-result-container {
    align: right bottom;
}

.user-container {
    align: left bottom;
    background: $surface-lighten-1;
    width: auto;
    max-width: 75vw;
}

.assistant-container {
    align: right top;
    background: $surface-lighten-2;
    max-width: 75vw;
    width: auto;
}



.message-text {
    background: $primary;
    color: $foreground;
    max-width: 80vw;
    width: auto;
    height: auto;
}

Container:focus {
    outline: vkey $accent;
}

Collapsible:focus {
    outline: none;
}

Collapsible Static.collapsible-label:focus {
    outline: none;
    text-style: none;
}

Collapsible Button:focus {
    outline: none;
}